<launch>

    <!--BLUE ROBOT-->
    <!--    <node pkg="p_g06_camera_and_lidar" name="blue_camera_and_lidar" type="camera_and_lidar.py" output="$(arg output_screen)">-->
    <node pkg="p_g06_camera_and_lidar" name="blue1_camera_and_lidar" type="camera_and_lidar.py">
        <param name="robot_color" value="Blue"/>
        <remap from="blue1/cmd_vel" to="blue1/cmd_vel"/>
        <remap from="blue1/camera/rgb/image_raw" to="blue1/camera/rgb/image_raw"/>
        <remap from="blue1/scan" to="blue1/scan"/>
    </node>

    <!--    <node pkg="p_g06_camera_and_lidar" name="blue_camera_and_lidar" type="camera_and_lidar.py" output="$(arg output_screen)">-->
    <node pkg="p_g06_camera_and_lidar" name="blue2_camera_and_lidar" type="camera_and_lidar.py">
        <param name="robot_color" value="Blue"/>
        <remap from="blue1/cmd_vel" to="blue2/cmd_vel"/>
        <remap from="blue1/camera/rgb/image_raw" to="blue2/camera/rgb/image_raw"/>
        <remap from="blue1/scan" to="blue2/scan"/>
    </node>

    <!--    <node pkg="p_g06_camera_and_lidar" name="blue_camera_and_lidar" type="camera_and_lidar.py" output="$(arg output_screen)">-->
    <node pkg="p_g06_camera_and_lidar" name="blue3_camera_and_lidar" type="camera_and_lidar.py">
        <param name="robot_color" value="Blue"/>
        <remap from="blue1/cmd_vel" to="blue3/cmd_vel"/>
        <remap from="blue1/camera/rgb/image_raw" to="blue3/camera/rgb/image_raw"/>
        <remap from="blue1/scan" to="blue3/scan"/>
    </node>

    <!--    *************************************************************-->

    <!--GREEN ROBOT-->
    <!--    <node pkg="p_g06_camera_and_lidar" name="green_camera_and_lidar" type="camera_and_lidar.py" output="$(arg output_screen)">-->
    <node pkg="p_g06_camera_and_lidar" name="green1_camera_and_lidar" type="camera_and_lidar.py">
        <param name="robot_color" value="Green"/>
        <remap from="blue1/cmd_vel" to="green1/cmd_vel"/>
        <remap from="blue1/camera/rgb/image_raw" to="green1/camera/rgb/image_raw"/>
        <remap from="blue1/scan" to="green1/scan"/>
    </node>

    <!--    <node pkg="p_g06_camera_and_lidar" name="green_camera_and_lidar" type="camera_and_lidar.py" output="$(arg output_screen)">-->
    <node pkg="p_g06_camera_and_lidar" name="green2_camera_and_lidar" type="camera_and_lidar.py">
        <param name="robot_color" value="Green"/>
        <remap from="blue1/cmd_vel" to="green2/cmd_vel"/>
        <remap from="blue1/camera/rgb/image_raw" to="green2/camera/rgb/image_raw"/>
        <remap from="blue1/scan" to="green2/scan"/>
    </node>

    <!--    <node pkg="p_g06_camera_and_lidar" name="green_camera_and_lidar" type="camera_and_lidar.py" output="$(arg output_screen)">-->
    <node pkg="p_g06_camera_and_lidar" name="green3_camera_and_lidar" type="camera_and_lidar.py">
        <param name="robot_color" value="Green"/>
        <remap from="blue1/cmd_vel" to="green3/cmd_vel"/>
        <remap from="blue1/camera/rgb/image_raw" to="green3/camera/rgb/image_raw"/>
        <remap from="blue1/scan" to="green3/scan"/>
    </node>

    <!--    *************************************************************-->

    <!--RED ROBOT-->
    <!--    <node name="Red1_oriented_goal" pkg="oriented_goal" type="oriented_goal_cmd_vel.py" output="screen">-->
    <node name="Red1_oriented_goal" pkg="oriented_goal" type="oriented_goal_cmd_vel.py">

        <param name="robot_name" value="red1"/>
        <param name="robot_teammate_2" value="red2"/>
        <param name="robot_teammate_3" value="red3"/>

        <param name="robot_color" value="Red"/>

        <param name="robot_to_catch_1" value="green1"/>
        <param name="robot_to_catch_2" value="green2"/>
        <param name="robot_to_catch_3" value="green3"/>

        <param name="robot_to_escape_1" value="blue1"/>
        <param name="robot_to_escape_2" value="blue2"/>
        <param name="robot_to_escape_3" value="blue3"/>

        <remap from="/blue1/cmd_vel" to="/red1/cmd_vel"/>
        <remap from="/blue1/scan" to="/red1/scan"/>
        <remap from="/blue1/camera/rgb/image_raw" to="/red1/camera/rgb/image_raw"/>
    </node>

    <node name="Red2_oriented_goal" pkg="oriented_goal" type="oriented_goal_cmd_vel.py">
        <param name="robot_name" value="red2"/>
        <param name="robot_teammate_2" value="red1"/>
        <param name="robot_teammate_3" value="red3"/>

        <param name="robot_color" value="Red"/>

        <param name="robot_to_catch_1" value="green1"/>
        <param name="robot_to_catch_2" value="green2"/>
        <param name="robot_to_catch_3" value="green3"/>

        <param name="robot_to_escape_1" value="blue1"/>
        <param name="robot_to_escape_2" value="blue2"/>
        <param name="robot_to_escape_3" value="blue3"/>

        <remap from="/blue1/cmd_vel" to="/red2/cmd_vel"/>
        <remap from="/blue1/scan" to="/red2/scan"/>
        <remap from="/blue1/camera/rgb/image_raw" to="/red2/camera/rgb/image_raw"/>
    </node>

    <node name="Red3_oriented_goal" pkg="oriented_goal" type="oriented_goal_cmd_vel.py">
        <param name="robot_name" value="red3"/>
        <param name="robot_teammate_2" value="red1"/>
        <param name="robot_teammate_3" value="red2"/>

        <param name="robot_color" value="Red"/>

        <param name="robot_to_catch_1" value="green1"/>
        <param name="robot_to_catch_2" value="green2"/>
        <param name="robot_to_catch_3" value="green3"/>

        <param name="robot_to_escape_1" value="blue1"/>
        <param name="robot_to_escape_2" value="blue2"/>
        <param name="robot_to_escape_3" value="blue3"/>

        <remap from="/blue1/cmd_vel" to="/red3/cmd_vel"/>
        <remap from="/blue1/scan" to="/red3/scan"/>
        <remap from="/blue1/camera/rgb/image_raw" to="/red3/camera/rgb/image_raw"/>
    </node>


</launch>
