<launch>

    <include file="$(find p_g06_bringup)/launch/player_finder.launch">
        <arg name="player_name" value="blue1"/>
        <arg name="visualize" value="false"/>
    </include>
    <include file="$(find p_g06_bringup)/launch/player_finder.launch">
        <arg name="player_name" value="blue2"/>
        <arg name="visualize" value="false"/>
    </include>
    <include file="$(find p_g06_bringup)/launch/player_finder.launch">
        <arg name="player_name" value="blue3"/>
        <arg name="visualize" value="false"/>
    </include>
    <include file="$(find p_g06_bringup)/launch/player_finder.launch">
        <arg name="player_name" value="red1"/>
        <arg name="visualize" value="false"/>
    </include>
    <include file="$(find p_g06_bringup)/launch/player_finder.launch">
        <arg name="player_name" value="red2"/>
        <arg name="visualize" value="false"/>
    </include>
    <include file="$(find p_g06_bringup)/launch/player_finder.launch">
        <arg name="player_name" value="red3"/>
        <arg name="visualize" value="false"/>
    </include>
    <include file="$(find p_g06_bringup)/launch/player_finder.launch">
        <arg name="player_name" value="green1"/>
        <arg name="visualize" value="false"/>
    </include>
    <include file="$(find p_g06_bringup)/launch/player_finder.launch">
        <arg name="player_name" value="green2"/>
        <arg name="visualize" value="false"/>
    </include>
    <include file="$(find p_g06_bringup)/launch/player_finder.launch">
        <arg name="player_name" value="green3"/>
        <arg name="visualize" value="false"/>
    </include>
</launch>