<launch>



  <arg name="player_name" default="blue1"/>
  <arg name="visualize" default="true"/>
    <group ns="$(arg player_name)">
        <node name="sensors" pkg="p_g06_sensors" type="player_finder" output="screen"/>
        <param name="camera_visualize" type="bool" value="$(arg visualize)"/>
    </group>


</launch>
