<launch>
    <arg name="arena" default="1"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!--        <arg name="world_name" value="$(find th_description)/worlds/th_arena_1.world"/>-->
        <!--        <arg name="world_name" value="$(find th_description)/worlds/th_arena_2.world"/>-->
        <!--        <arg name="world_name" value="$(find th_description)/worlds/th_arena_3.world"/>-->
        <arg name="world_name" value="$(find th_description)/worlds/th_arena_$(arg arena).world"/>
        <arg name="paused" value="false"/>
        <!--        use simulated time as false to use tf transformations-->
        <arg name="use_sim_time" value="false"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
</launch>
