<launch>

    <!--    BLUE ROBOT 1-->
    <node name="Blue1_oriented_goal" pkg="oriented_goal" type="oriented_goal_cmd_vel.py" output="screen">
        <param name="robot_name" value="blue1"/>
        <param name="robot_color" value="Blue"/>

        <param name="robot_to_catch_1" value="red1"/>
        <param name="robot_to_catch_2" value="red2"/>
        <param name="robot_to_catch_3" value="red3"/>

        <param name="robot_to_escape_1" value="green1"/>
        <param name="robot_to_escape_2" value="green2"/>
        <param name="robot_to_escape_3" value="green3"/>

        <remap from="/blue1/cmd_vel" to="/blue1/cmd_vel"/>
        <remap from="/blue1/scan" to="/blue1/scan"/>
        <remap from="/blue1/camera/rgb/image_raw" to="/blue1/camera/rgb/image_raw"/>
    </node>



</launch>
