<launch>
    <arg name="output_screen" default="screen"/>

    <!--BLUE ROBOT-->
    <node pkg="p_g06_camera_and_lidar" name="blue_camera_and_lidar" type="camera_and_lidar.py"
          output="$(arg output_screen)">
        <param name="robot_color" value="Blue"/>
        <!--        <remap from="blue1/cmd_vel" to="blue1/cmd_vel"/>-->
        <remap from="blue1/cmd_vel"
               to="/cmd_vel"/> <!-- use this topic to maintain the robot stand still while debugging-->
        <remap from="blue1/camera/rgb/image_raw" to="blue1/camera/rgb/image_raw"/>
        <remap from="blue1/scan" to="blue1/scan"/>
    </node>


    <!--GREEN ROBOT-->
    <!--    <node pkg="p_g06_camera_and_lidar" name="green1_camera_and_lidar" type="camera_and_lidar.py"-->
    <!--          output="$(arg output_screen)">-->
    <!--        <param name="robot_color" value="Green"/>-->
    <!--&lt;!&ndash;        <remap from="blue1/cmd_vel" to="green1/cmd_vel"/>&ndash;&gt;-->
    <!--                <remap from="blue1/cmd_vel" to="/cmd_vel"/> &lt;!&ndash; use this topic to maintain the robot stand still while debugging&ndash;&gt;-->
    <!--        <remap from="blue1/camera/rgb/image_raw" to="green1/camera/rgb/image_raw"/>-->
    <!--        <remap from="blue1/scan" to="green1/scan"/>-->
    <!--    </node>-->

    <!--RED ROBOT-->
    <!--    <node pkg="p_g06_camera_and_lidar" name="red_camera_and_lidar" type="camera_and_lidar.py"-->
    <!--          output="$(arg output_screen)">-->
    <!--        <param name="robot_color" value="Red"/>-->
    <!--        &lt;!&ndash;        <remap from="blue1/cmd_vel" to="red1/cmd_vel"/>&ndash;&gt;-->
    <!--        <remap from="blue1/cmd_vel"-->
    <!--               to="/cmd_vel"/> &lt;!&ndash; use this topic to maintain the robot stand still while debugging&ndash;&gt;-->
    <!--        <remap from="blue1/camera/rgb/image_raw" to="red1/camera/rgb/image_raw"/>-->
    <!--        <remap from="blue1/scan" to="red1/scan"/>-->
    <!--    </node>-->

</launch>
