<launch>

<!--BLUE ROBOT 1-->
    <include file="$(find p_g06_bringup)/launch/bringup.launch">
        <arg name="player_name" value="blue1"/>
        <arg name="player_color" value="Blue"/>
        <!--        initial pose-->
        <arg name="x_pos" value="-8"/>
        <arg name="y_pos" value="0"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="0"/>
    </include>
</launch>
