<launch>

    <arg name="arena" default="1"/>

        <!--Include multi_robot.launch-->
        <include file="$(find p_g06_bringup)/launch/th_arenas.launch">
            <arg name="arena" value="$(arg arena)"/>
        </include>

        <!--Include multi_robot.launch-->
        <include file="$(find p_g06_menu)/launch/enter_2red.launch">

        </include>

         <include file="$(find p_g06_menu)/launch/enter_1green.launch">

        </include>

        <include file="$(find p_g06_menu)/launch/enter_1blue.launch">

        </include>

        <!--Include multi_player_finder.launch-->
        <include file="$(find p_g06_bringup)/launch/multi_player_finder.launch">

        </include>

        <!--Include multi_driver_nav3d.launch-->
        <include file="$(find p_g06_bringup)/launch/multi_driver_nav3d.launch">

        </include>

        <!--Call referee-->
<!--        <node name="referee" pkg="th_referee" type="th_referee" output="screen"/>-->


     <!--Include visualize.launch-->
<!--    <include file="$(find p_g06_bringup)/launch/visualize.launch">-->
<!--    </include>-->
</launch>
